@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input:focus-visible {
    outline: 0;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.heading{
    font-family: "Audiowide", sans-serif;
 
    background-color: #303639;
    color: aliceblue;
}

.main {
    background-image: url(image/pexels-jan-kopřiva-6899805.jpg);
    background-size: auto;
    background-size: cover;
    min-height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box {
    min-width: 700px;
    padding: 10px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
    background: #2c3840;
    border-radius: 2px;
    margin-top: 10px;
    
    
}




#pass-box {
    width: 100%;
    display: block;
    background-color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
   
}

.row {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 100;
   
}

label {
    user-select: none;
}

#btn {
    width: 100%;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: #34495e;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    bottom: hover;
}
#btn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #ffffff;
    background-color:#92acaf;
    transition: 0.7s;
   
}